<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="EmpMapper">
    <!--方法三-->
    <resultMap id="BaseEmp" type="Emp">
        <id property="empid" column="empid"/>
        <result property="ename" column="ename"/>
        <result property="esex" column="esex"/>
        <result property="ehiredate" column="ehiredate"/>
        <result property="esal" column="esal"/>
    </resultMap>

    <resultMap id="myEmp" type="Emp" extends="BaseEmp">
        <!--association建立关系
        property="dept"：指Emp3中的dept属性
        javaType=：指emp3属性的类型
        -->
        <association property="dept" javaType="com.sxt.domain.entity.Dept">
            <id property="deptid" column="deptid"/>
            <result property="dname" column="dname"/>
            <result property="dloc" column="dloc"/>
        </association>
    </resultMap>
</mapper>